.inline{display: inline;}
.hidden{visibility: hidden;}
.ohidden{overflow: hidden;}
.padding{padding: 10px;}
.margin{margin: 10px;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.aleft{text-align: left;}
.aright{text-align: right;}
.none{display: none;}
.solid{border: 1px solid;}
.dashed{border: 1px dashed;}
.dotted{border: 1px dotted;}
.clear{clear: both;}
.clear-min{clear: both; overflow: hidden; height: 1px; width: 1px; display: block;}