<table border="0" cellpadding="10" cellspacing="0" width="670" height="500">
    <tr>
        <td style="background: #ddd; vertical-align: top; width: 220px; height: 220px;"><p><strong>Lorem ipsum dolor sit amet</strong></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non quam eget lorem sodales lobortis a eget nisl. Phasellus sodales tempor pulvinar. Vivamus sollicitudin, leo et fringilla cursus, elit arcu congue enim, ut rhoncus libero leo a ante. Integer sollicitudin velit eu ante iaculis pellentesque. </td>
        <td style="width: 5px; font-size: 1px;">&nbsp;</td>
        <td style="background: #ccc; vertical-align: top; width: 220px; height: 220px;"><p><strong>Lorem ipsum dolor sit amet</strong></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non quam eget lorem sodales lobortis a eget nisl. Phasellus sodales tempor pulvinar. Vivamus sollicitudin, leo et fringilla cursus, elit arcu congue enim, ut rhoncus libero leo a ante. Integer sollicitudin velit eu ante iaculis pellentesque. </td>
        <td style="width: 5px; font-size: 1px;">&nbsp;</td>
        <td rowspan="3" style="text-align: justify; vertical-align: bottom; width: 170px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non quam eget lorem sodales lobortis a eget nisl. Phasellus sodales tempor pulvinar. Vivamus sollicitudin, leo et fringilla cursus, elit arcu congue enim, ut rhoncus libero leo a ante.</p>
            <img src="img/template/bar_right_left.png" /><br />
            <img src="img/template/char_mao_lado.png" />
        </td>
    </tr>
    <tr>
        <td colspan="3" style="height: 5px; font-size: 1px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="background: #bbb; vertical-align: top; width: 220px; height: 220px;"><p><strong>Lorem ipsum dolor sit amet</strong></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non quam eget lorem sodales lobortis a eget nisl. Phasellus sodales tempor pulvinar. Vivamus sollicitudin, leo et fringilla cursus, elit arcu congue enim, ut rhoncus libero leo a ante. Integer sollicitudin velit eu ante iaculis pellentesque. </td>
        <td>&nbsp;</td>
        <td style="background: #aaa; vertical-align: top; width: 220px; height: 220px;"><p><strong>Lorem ipsum dolor sit amet</strong></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non quam eget lorem sodales lobortis a eget nisl. Phasellus sodales tempor pulvinar. Vivamus sollicitudin, leo et fringilla cursus, elit arcu congue enim, ut rhoncus libero leo a ante. Integer sollicitudin velit eu ante iaculis pellentesque. </td>
        <td>&nbsp;</td>
    </tr>
</table>